{% extends 'base.html.twig' %}

{% block body %}
    <h1>Создание автора</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" name="create" value="Сохранить" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('author_index') }}">Назад к списку</a>
        </li>
    </ul>
{% endblock %}
